<div class="container my=5">
    <h1 class= "mb-3">Subjects</h1>
    <table class=" table table-striped" *ngIf="subjects && subjects.length>0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
                <th> </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subject of subjects">
                <td>{{ subject.id}}</td>
                <td>{{ subject.name}}</td>
                <td><a [routerLink]="['/subjects', 'edit',subject.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!subjects || subjects.length <= 0">No subjects Found</p>
</div>


